
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}

li{
    margin-left: 30px;
}


.nav-btn{
    margin-right: 30px;
    margin-left: 30px;
}

.bt{
    background-color: #21B573;
    outline: none;
    border-radius:20px;
    border: none;
    padding: 9px 28px;
    color:#fff;
    margin-top: 20px;
    margin-bottom: 20px;
}


.nav-img{
    width:150px;
}





.n-ber{
    background-color: #F0FFF0;
}


.main{
    background-color: #F0FFF0;
    height: 600px;

}

.height{
    height: 500px;
}


.font{
    font-size: 50px;
}

span{
    color:#21B573;
}


.ready{
    color: #FD511A;


}

.container{
    margin-bottom: 30px;
}








