

li{
    margin-left: 30px;
}


.nav-btn{
    margin-right: 30px;
    margin-left: 30px;
}

.bt{
    background-color: #21B573;
    outline: none;
    border-radius:20px;
    border: none;
    padding: 8px 28px;
}


.nav-img{
    width:150px;
}




