
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}

li{
    margin-left: 30px;
}


.nav-btn{
    margin-right: 30px;
    margin-left: 30px;
}

.bt{
    background-color: #21B573;
    outline: none;
    border-radius:20px;
    border: none;
    padding: 9px 28px;
    color:#fff;
    margin-top: 20px;
    margin-bottom: 20px;
}


.nav-img{
    width:150px;
}

.nav-link{
    color: black;
}




.n-ber{
    background-color: #F0FFF0;
}


.main{
    background-color: #F0FFF0;
    
    margin-bottom: 50px;
}

.height{
    height: 520px;
}

@media(max-width:700px){
    .height{
        height: 780px;
    }
    .bt{
        margin-bottom: 50px;
    }
    .topic{
        margin-top:60px;
    }

    .card-footer p{
        font-size: 14px;
    }
    .f-img{
        width:20px;
        height: 20px;
    }

    .man{
        margin-bottom: 50px;
    }

    .limit{
        height: 600px;
    }
}

.font{
    font-size: 50px;
}

span{
    color:#21B573;
}


.ready{
    color: #FD511A;


}

.container{
    margin-bottom: 40px;
    
}

.topic{
    margin-top: 100px;
}


.div{
    background: #F8FFFB;
    width:220px;
    height: 220px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    transition:0.5s;
}


.div:hover{
    box-shadow: 5px 5px 20px lightgray;
    background: #fff;
}



.gap{
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
}

.txt{
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 500;
}

.card{
    padding:20px;
    border:none;
    box-shadow: 5px 5px 25px lightgray;
    border-radius: 10px;
}

.card-title{
    font-weight: 600;
}


.btne{
    background-color: #21B573;
    outline: none;
    border-radius:20px;
    border: none;
    padding: 8px 27px;
    color:#fff;
}



.card-footer{
    border:none;
    background-color: #fff;
}


.f-img{
    width: 24px;
    height: 24px;
}

.t-img{
    width: 150px;
}

.tm{
    margin-top: 100px;
}


.blak{
    background-color: #282531;
    color: lightgray;
    padding-top: 90px;
    padding-bottom: 90px;
}

.blak ul li{
    list-style: none;
}


.padding-p{
    padding:30px
}

.padding-col{
    padding-top: 35px;
}


.Copyright{
    padding-top: 50px;
}











